{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcom to Limo.</title>
    {% tailwind_css %}
</head>
<body>
    <div class="flex justify-center items-center" style="margin-top: 160px;">
        <div class="ml-5 mr-5 px-5 bg-primary mx-auto rounded-[5px] w-full max-w-md py-8">
            <h2 class="text-center justify-center font-barlow font-semibold text-cream text-xl mb-5 mt-5">
                LIMOTRACK
            </h2>
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <div class="flex items-center mt-4 p-4 mb-4 text-sm text-green-800 border border-green-300 rounded-[5px] bg-green-50" role="alert">
                            <svg class="flex-shrink-0 inline w-4 h-4 mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M10 0a10 10 0 1 1 0 20 10 10 0 0 1 0-20ZM9 13a1 1 0 0 0 2 0v-4a1 1 0 0 0-2 0v4Zm1-7a1 1 0 0 0-1 1 1 1 0 0 0 2 0 1 1 0 0 0-1-1Z"/>
                            </svg>
                            <span class="sr-only">Success</span>
                            <div>
                                <span class="font-medium">Success!</span> {{ message }}
                            </div>
                        </div>
                    {% elif message.tags == 'error' %}
                    <div class="flex items-center mt-4 p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-[5px] bg-red-50" role="alert">
                        <svg class="flex-shrink-0 inline w-4 h-4 mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <span class="sr-only">Info</span>
                        <div>
                        <span class="font-medium">Error!</span> {{ message }}
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <hr class="border-1 border-secondary mb-5">
            <P class="text-black font-barlow text-center items-center">
                Welcome to LimoTrack, Please pick on your title to proceed.
            </P>
            <div class="mt-5">
                <a href="{% url 'customer_page' %}">
                    <button type="submit" id="signinButton"
                    class="w-full text-xl text-cream font-barlow bg-red-400 hover:bg-darkcream hover:text-primary focus:ring-4 focus:outline-none focus:ring-primary font-semibold rounded-[5px] px-4 py-2 text-center mr-3 md:mr-0">
                    <span id="signinText">Customer</span>
                </button>
                </a>
            </div>
            <div class="mt-5">
                <a href="{% url 'driver_page' %}">
                    <button type="submit" id="signinButton"
                        class="w-full text-xl text-cream font-barlow bg-secondary hover:bg-darkcream hover:text-primary focus:ring-4 focus:outline-none focus:ring-primary font-semibold rounded-[5px] px-4 py-2 text-center mr-3 md:mr-0">
                        <span id="signinText">Driver</span>
                    </button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>